.navigation-wrap{
    position: fixed;
    width: 100%;
    left:0;
    background-color:rgb(255 255 255 / 80%);
    z-index: 100;
    transition: all 0.3s ease-out;


.navigation-wrap .nav-item{
    padding: 0 0.625rem;
    transition:  all 200ms linear;
}
.scroll-on{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 0.125rem 1.75rem 0 rgb(0,0,0,0.09);
    transition: all 0.15s ease-in-out 0s;
}
.main-btn{
    padding: 0.3125rem 1.4375rem;
    box-shadow: none;
    margin-left: 0.625rem;
}
}

.navbar-toggler:focus{
    outline: unset;
    border: unset;
    box-shadow: none;
}

.nav-link{
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    color:#000080;
    letter-spacing: 1px;
}



@media (max-width:991px){
    .text-content{
        width: 100%;
    }

    .navigation-wrap .navbar-brand-img{
        height: 3.8125rem;
    }
    .navigation-wrap{
        text-align: center;
        background-color: white;
    }
    .navigation-wrap .nav-link{
        line-height: 1.875rem;
    }
}
